# Debug / experimental files
debug/
AnvilHDL-Experiments/

arbiter_test*.anvil
lock_test*.anvil
packet_test*.anvil
router_2x2_test.anvil
router_before_*.anvi
router_before_*.anvil
router_c*.anvil
router_*_backup.anvil
router_*backup*.anvil
router_*_working.anvil
router_*_working*.sv
router_dest_*.anvil
router_functional*.anvil
router_integrated*.anvil
router_packet_lock_*.anvil
router_partc_backup.anvil
router_path_test.anvil
router_routed_arbitrated*.anvil
router_routed_arbitrated*.sv
router_rr*.anvil
router_equiv*.anvil
router_equiv*.sv
send_test.anvil
ready_test.anvil
test_router_syntax.anvil
tb_anvil.sv

# Generated / simulation files
obj_dir/
*.vcd
*.fst
*.log
parta_sim
partb_sim
partc_sim
anvil_sim
equivalence_sim
